[submodule "crates/atc_recognition_rs/resources/models/whisper-small.en-atc-experiment"]
	path = crates/atc_recognition_rs/resources/models/whisper-small.en-atc-experiment
	url = https://huggingface.co/Relacibo/whisper-small.en-atc-experiment
