AircraftType(
    id: "a320",
    name: "Airbus A320",
    heading_accuracy_degrees: 0.2,
    max_delta_heading_degrees_per_second: 2.1,
    delta_heading_acceleration_degrees_per_second: 0.45,
    speed_accuracy_knots: 0.2,
    max_delta_speed_knots_per_second: 2.1,
    delta_speed_acceleration_knots_per_second: 0.12,
    altitude_accuracy_feet: 10.0,
    max_delta_altitude_feet_per_second: 110.0,
    delta_altitude_acceleration_feet_per_second: 5.5,
    optimal_cruising_altitude_feet: 37000.0,
)
