LevelFile(
    waypoints: [
        (name: "BAGEL", pos: (200.0, 300.0)),
        (name: "TANGO", pos: (350.0, 320.0)),
        (name: "LIMBO", pos: (500.0, 400.0)),
        (name: "FENIX", pos: (-100.0, 200.0)),
        (name: "MANGO", pos: (600.0, -50.0)),
        (name: "DORIS", pos: (-200.0, -150.0)),
        (name: "VIKEN", pos: (800.0, 500.0)),
        (name: "SOMAR", pos: (0.0, 0.0)),
        (name: "JULIA", pos: (1000.0, 1000.0)),
        (name: "ROMEO", pos: (-500.0, 800.0)),
        (name: "NEMOS", pos: (700.0, -400.0)),
        (name: "KARMA", pos: (-300.0, 600.0)),
        (name: "FARGO", pos: (900.0, -300.0)),
        (name: "TULIP", pos: (400.0, 900.0)),
        (name: "BENTO", pos: (-400.0, -500.0)),
        (name: "SABER", pos: (300.0, -200.0)),
        (name: "VOLAR", pos: (600.0, 700.0)),
        (name: "MIRAN", pos: (-250.0, 350.0)),
        (name: "JOKER", pos: (850.0, 250.0)),
        (name: "LORAN", pos: (100.0, -350.0)),
        (name: "TOMAS", pos: (750.0, 100.0)),
        (name: "DANIX", pos: (-100.0, 950.0)),
        (name: "FELIX", pos: (950.0, -100.0)),
        (name: "SAMBA", pos: (500.0, -500.0)),
        (name: "VANIX", pos: (-350.0, 100.0)),
        (name: "MORIS", pos: (200.0, 800.0)),
        (name: "JUNIX", pos: (100.0, 600.0)),
        (name: "KARIX", pos: (-600.0, 400.0)),
        (name: "FARIX", pos: (300.0, -600.0)),
    ],
    runways: [
        (name: "03", start: (250.0, 310.0), end: (320.0, 350.0), elevation: 2000.),
    ],
    sectors: [
        (
            name: "SectorA",
            min_altitude: 2000.0,
            max_altitude: 8000.0,
            boundary: [
                (pos: (150.0, 250.0)),
                (pos: (600.0, 250.0)),
                (pos: (600.0, 500.0)),
                (pos: (150.0, 500.0)),
            ],
        ),
    ],
)
